@import "compass/reset";
@import "compass/css3";
@import "../icon";
@mixin circle($bg-color){
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: $bg-color;
	margin-right: 6px;
}

$gray: #ccc;
$font-color: #333;
$light-gray: #666;
$theme-green: #6cdcac;
$theme-blue: #1fb5e8;
$theme-purple: #ad9ed1;
$theme-yellow: #eaa861;
$twitter: #4f75b5;
body {
	font-size: 18px;
	padding-top: 4%;
	color: $font-color;
	background: rgb(86, 100, 114);
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	margin: 0 auto;
	width: 80%;
}
.text-center {
	text-align: center;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.banner {
	background: white;
	padding: 2%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	.red-circle {
		@include circle(rgb(229, 103, 77));
	}
	.yellow-circle {
		@include circle(rgb(249, 191, 45));
	}
	.green-circle {
		@include circle(rgb(87, 189, 166));
	}		
}
form.find-agent {
	width: 50%;
	margin: 4% auto;
	input { color: white; font-size: 1em; }
	input:-moz-placeholder { color: white; }
	::-webkit-input-placeholder { color: white; }
	input[type='text'] {
		padding: 20px 3%;
		border: none;
		background-color: rgba(255,255,255,0.3);
		width: 70%;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	input[type='submit'] {
		width: 24%;
		padding: 20px 0;
		background: $theme-green;
		border: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
.welcome {
	padding: 4% 0 0 0;
	color: white;
	background: url('../sunset-resized.jpg') no-repeat center;
	.user {
		clear: both;
		width: 300px;
		a {
			color: white;
			text-decoration: none;
			margin-right: 10%;
			word-break: break-word;
			&.sign-up {
				display: inline-block;
				border: 1px solid #f1f1f1;
				padding: 8px 12px;
				border-radius: 4px;
			}
		}
	}
	h1 {
		clear: both;
		margin: 20% 0 10px 0;
		font-weight: bold;
		font-size: 2em;
	}
	p {
		color: #ccc;
	}
}

.statistics {
	width: 70%;
	margin: 16% auto -66px auto;
	li {
		text-align: center;
		float: left;
		width: 25%;
		padding: 4% 0;
		box-sizing: border-box;
		background-color: white;
		border: 1px solid $gray;
		border-right: none;
		&:last-child {
			border-right: 1px solid $gray;
		}
		span{
			display: block;
			&.number {
				color: $font-color;
				font-weight: bold;
				font-size: 1.2em;
				margin: 16px 0;
			}
			&.title {
				color: $light-gray;
			}
		}
	}
}

.process, .why-us, .team-member, .search {
	background-color: white;
	h1 {
		font-size: 1.2em;
		font-weight: bold;
		margin: 8% 0;
	}
	h2 {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 1.2em;
	}
	padding-bottom: 10%;
}

.process {
	padding: 10% 0;
	text-align: center;
	hr {
		width: 70%;
		border-top:1px solid $gray;
		border-bottom: none;
		margin-bottom: -52px;
	}
	li {
		padding: 0 4%;
		float: left;
		width: 25.33%;
		margin: 20px 0;
		.number {
			border: 1px solid $gray;
			background-color: white;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			line-height: 60px;
		}
		.icon {
			display: block;
			font-size: 3em;
			margin: 12% 0;
		}
		.icon-pencil {
			color: $theme-purple;
		}
		.icon-address-book {
			color: $theme-yellow;
		}
		.icon-users {
			color: rgb(81, 154, 201)
		}
		span {
			display: inline-block;
		}
		.descrption {
			color: $light-gray;
			line-height: 1.3em;
		}
	}
}
.why-us {
	padding-top: 5%;
	border: 1px solid $gray;
	border-left: none;
	border-right: none;

	ul{
		li {
			width: 40%;
			margin: 2% 5%;
			float: left;
			i {
				width: 18%;
				float: left;
				font-size: 40px;
				vertical-align: top;
				&.icon-checkmark {color: $theme-green;}
				&.icon-tag {color: $theme-blue;}
				&.icon-loop {color: $theme-yellow;}
				&.icon-user {color: $theme-purple}
				&.icon-library {color: $twitter}
				&.icon-thumbs-up {color: $theme-yellow;}
			}
			>div {
				display: inline-block;
				width: 80%;
			}
		}
	} 
}

.team-member {
	padding-top: 10%;
	.gray-btn {
		font-size: 1em;
		border: none;
		background-color: $twitter;
		padding: 16px 30px;
		color: white;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.white-btn {
		font-size: 1em;
		border: 1px solid $twitter;
		background-color: white;
		padding: 15px 30px;
		color: $twitter;		
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.member {
		margin: 30px 20px;	
		.title {
			color: $light-gray;
			margin: 6px 0;
		}	
	}
	.icon-quotes-left {
		color: $gray;
		font-size: 1.4em;
		display: block;
		margin-bottom: 14px;
	}
	hr {
		width: 2%;
		margin: 24px auto;
		border-color: $gray;
		border-top: none;
	}
	li {
		display: inline-block;
		margin: 5% 4% 0 2%;
		img {
			height: 100px;
			width: 100px;
			opacity: 0.6;
			border-radius: 57px;
			padding: 6px;
			&.active {
				border: 1px solid $gray;
				opacity: 1;
			}
		}		
	}

}
.search {
	position: relative;
	z-index: 1;
	height: 150px;
	padding-top: 4%;
	padding-bottom: 4%;
	background: url('../images/bg.jpg') no-repeat center;
	background-size: 100%;
	h2 {
		color: white;
	}
	.search-layer {
		height: 150px;
		padding: 4% 0;
		opacity: 0.8;
		background-color: rgb(96, 103, 121);
		position: absolute;
		z-index: -1;
		width: 100%;
		top: 0;
	}	
	form.find-agent {
		color: black;
		input:-moz-placeholder { color: $light-gray; }
		::-webkit-input-placeholder { color: $light-gray; }
		input[type='text'] {
			background-color: white;
			color: $font-color;
		}
	}

}
footer {
	padding: 24px;
	background-color: white;
	li {
		float: left;
		margin-right: 20px;
		color: $light-gray;
	}
	i {
		margin: 0 5px;
		&.icon-facebook {
			color: $theme-blue;
		}
		&.icon-twitter {
			color: $twitter;
		}
	}
}
@media(max-width: 700px){
	.container {
		width: 95%;
	}
}
@media(max-width: 500px){
	.why-us ul li, .process li {
		width: 95%;
	}
	.why-us ul li {
		width: 94%;
		margin: 20px 3%;
		text-align: center;
		i {
			width: 100%;
		}
	}
	.process li .icon {
		margin: 5% 0;
	}
	.statistics {
		width: 95%;
	}
	form.find-agent {
		width: 80%;
	}
}


